body{
    margin:0;
    padding:0;
    background-color: #fff;
    max-width: 1920px;
    font-family: "Montserrat", "sans-serif";
}
.wrapper{
    max-width:1110px;
    margin: 0 auto;
}
.header-page{
    max-width: 1920px;
    height: 800px;
    background-color: #f9f6f1;
}
/*Навигационное меню*/
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}    
.nav-menu{
   list-style: none;
   padding: 0;
   margin:0; 
   display: flex;
   flex-wrap: wrap;
}
.link-item{
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 14px;
    line-height: 17px;    
}
.link-item:hover{
    color: #D84033;    
}
.nav-item{
    margin-right: 35px;
}
.nav-item:first-child{
    padding-left:10px;
}
.nav-item:hover{
    transform:scale(1.1);
}
.vector{
padding-right: 15px;
}
.group{
    padding-right: 10px;
}
/*Баннер со скидкой*/
.sale-box{
    margin-top: 126px;
    width: 100%;
    height: 337px;
    display: flex;
    flex-wrap: wrap;
}
.shoes{
    background-image:url(image/running_shoes_PNG5823.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    height: 355px;
    margin-right: 10px;
}
.price{
    margin-top: 40px;
    margin-right: 7px;
    font-weight: 700;
}
.old-price{
    font-size: 24px;
    text-decoration:line-through;
    text-align: right;
    line-height: 29px;
}
.new-price{
    margin: 0;
    font-size: 42px;
    color: #D84033;
    text-align: right;
}
.text-sale{
    width: 50%;
}
.sale-description{
    font-style: normal;
    font-size: 30px;
}
.title-sale{
    margin: 0;
    font-weight:700 ;
    font-size: 55px;
    margin-top: 35px;
}
.btn{
    width: 240px;
    height: 55px;
    margin-top: 55px;
    margin-left: 10px;
    background-color:#D7B399 ;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #daa078;
    border: 1px solid #8D8D8D;
}
.sale-description,
.title-sale{
    padding-left: 10px;
}
/*Доставка*/
.delivery{
    margin: 0;
    width: 100%;
    height: 235px;
    background-color:#212121 ;
    text-align: center;
    vertical-align: middle;
}
.title-delivery{
    margin: 0;
    color: #fff;
    text-transform: uppercase; 
    font-size: 30px;
    padding-top:70px;
}
.delivery-description{
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    margin-top: 23px;
}
.normal{
    font-weight: 400;
}
/*Коллекции*/
.collection-page{
    max-width: 1920px;
    background-color: #f9f6f1;
    margin: 0;
}
.collection-box{
    margin: 0;
    width: 100%;
    height: 250px;
    background-color: lightyellow;
    display: flex;
    flex-wrap: wrap;
}
.man-collection,
.woman-collection{
    margin: 0;
    width: 50%;
    height: 250px;
    background-color: #f9f6f1;
}
.man-collection{
    background-image: url(image/Man.png);
    background-repeat: no-repeat;
    background-size: 190px 171px;
    background-position: right bottom;
}
.woman-collection{
    background-color: #f4f4f4;
    background-image: url(image/Woman.png);
    background-repeat: no-repeat;
    background-size: 190px 171px;
    background-position: right bottom;

}
.man-title,
.woman-title{
    padding-top: 60px;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    padding-left: 10px;
}
.roboto{
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
}
.man-description,
.woman-description{
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
}
.btn-collection{
    width: 80px;
    height: 30px;
    background-color: #D7B399;  
    color: #fff;
    margin-top: 40px;
    border: none;
    font-size: 160%;
    margin-left: 10px;
    cursor: pointer;
}
.btn-collection:hover{
    background-color: #daa078;
    border: 1px solid #8D8D8D;
}
/*Фотогалерея*/
.gallery{
    margin: 0;
    max-width: 1110px;
    height: 520px;
    background-color:#f4f4f4;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;    
}
.image-item{
    width:150px;
    height:200px;
    padding:15px;
    display: block;
    margin: 0 auto;
}
.name-item{
    text-align: center;
    border-top:2px solid rgb(180, 175, 175);
    margin: 0;
}
/*Новые модели*/
.new-model-title{
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.card-box{
    margin: 0;
    width: 100%;
    height: 450px;
    display:flex;
    justify-content: space-between;
}
.card-model{
    width:22%;
    border: 1px dashed #D7B399;
}
.card-image{
    padding: 20px;
    width: 200px;
    height: 300px;
}
.card-name{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-top: 25px;
}
.card-price{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #D7B399;
}
.btn-model{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}  
/*Скидки и подарки*/
.gift-title{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.sale-gifts{
    margin: 0;
    padding: 0;
    max-width: 1920px;
    height: 180px;
    background-color:#212121 ;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email{
    width: 255px;
    height: 40px;
    font-weight: 300;
    font-size: 12px;
    margin-left: 60px;
    margin-right: 35px;
    border: none;
    color: #8D8D8D;
    padding-left: 20px;
    
}
.btn-gifts{
    width: 185px;
    height: 40px;
    margin:0;
}
    /*Скидки*/
.sale-box-title{
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}    
/*Футер*/
.footer-top{
    margin: 0;
    padding: 0;
    max-width: 1920px;
    height: 363px;
    background-color: #212121;
    margin-top: 150px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.footer-ul{
    display: flex;
    list-style: none;
}
.footer-logo{
    width: 201px;
}

.block{
    display: block;
    list-style: none;
}
.block li{
    margin-bottom: 10px;
    cursor: pointer;
}
.block li:hover{
    color: #D84033;
    transform: scale(1.05);
}
.heads{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
}
.block img{
    margin-right: 5px;
}
.footer-bottom{
    width: 100%;
    height: 85px;
    
}
.copyright{
    float: left;
    margin-left: 405px;
    margin-top: 30px;
}
.confident{
    float: right;
    margin-right: 399px;
    margin-top: 30px;
}