body{
    margin:0;
    padding:0;
    background-color: #fff;
    width: 1920px;
    font-family: "Montserrat", "sans-serif";
}
.header-page{
    width: 1920px;
    height: 800px;
    background-color: #f9f6f1;
}


ul{
   list-style: none;
   padding: 0;
   margin:0; 
   display: flex;
}
.main-menu{
    padding-top: 61px;
    order: 1;
    padding-right: 56px;
    
}
a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 14px;
    line-height: 17px;
    
}
.main-menu li{
    margin-right: 45px;
}
.header-top{
    display:flex;
    justify-content: center;
     
}
.logo{
    align-self: center;
    order: 2;
    padding-top: 50px;
      
}
.menu-2{
    order: 3;
    padding-top: 61px;
    padding-right: 66px;
    padding-left: 90px;
}
.menu-2 li{
    margin-right: 35px;
}
.vector{
order: 4;
padding-top: 54px;
padding-right: 15px;
}
.group{
order: 5;
padding-top: 54px;
}
.header-middle{
    margin-top: 126px;
    width: 1110px;
    height: 337px;
    
    margin-right: auto;
    margin-left: auto;
}
.image{
    background-image:url(image/running_shoes_PNG5823.png);
    background-size: 556px 337px;
    background-repeat: no-repeat;
    float: right;
    width: 556px;
    height: 337px;
}
.price{
    float: right;
    margin-top: 40px;
    margin-right: 7px;
    font-weight: 700;
}
.del{
    font-size: 24px;
    text-decoration:line-through;
    margin: 0;
    text-align: right;
    line-height: 29px;
}
.red{
    margin: 0;
    font-size: 42px;
    color: #D84033;
    text-align: right;
}
.text-sale{
    margin: 0;
    width: 570px;
    height:224px;
    text-align: left;
}
.winter{
    font-style: normal;
    font-size: 30px;
    margin: 0;
}
.sale-90{
    margin: 0;
    font-weight:700 ;
    font-size: 55px;
    margin-top: 35px;
}
.model{
    width: 240px;
    height: 55px;
    margin-top: 55px;
    background-color:#D7B399 ;
    font-size: 16px;
    color: #fff;
    border: none;
}
.delivery{
    margin: 0;
    width: 1920px;
    height: 235px;
    background-color:#212121 ;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
h3{
    margin: 0;
    color: #fff;
    text-transform: uppercase; 
    font-size: 30px;
}
.p-delivery{
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    margin-top: 23px;
}
.normal{
    font-weight: 400;
}
.collection{
    margin: 0;
    width: 1920px;
    height: 250px;
    background-color: lightyellow;
}
.man-collection{
    margin: 0;
    width: 960px;
    height: 250px;
    background-color: #f9f6f1;
    float: left;
}
.men{
    margin-right: 15px;
    float: right;
    margin-top: 79px;
}
.collect{
    padding-top: 60px;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    padding-left: 426px;
}
.roboto{
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
}
.clothes{
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    margin-top: 25px;
    padding-left: 426px;
}
 collect-m{
    margin-left: 426px;
}
.arrow{
    margin: 0;
    width: 80px;
    height: 30px;
    background-color: #D7B399;
    margin-left: 426px;
    color: #fff;
    margin-top: 40px;
    border: none;
    font-size: 160%;
    line-height: 20px;
    vertical-align: middle;
}
.woman-collection{
    margin: 0;
    width: 960px;
    height: 250px;
    float: right;
    background-color: #f4f4f4;
    
}
.woman{
    margin-top: 79px;
    margin-right: 418px;
    float: right;
}
#w{
    margin: 0;
    padding: 0;
    margin-left: 35px;
    margin-top: 60px;
}
#clothes-w{
    margin: 0;
    padding: 0;
    margin-left: 36px;
    margin-top:25px;

}
#arrow-w{
    margin: 0;
    padding: 0;
    margin-left: 35px;
    margin-top: 40px;
}
.gallery{
    margin: 0;
    width: 1110px;
    height: 472px;
    background-color:#f4f4f4;
    margin-left: auto;
    margin-right: auto;
    position: relative;
   
}
.gallery-ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 277px 277px 277px 277px;
    gap: 0;
}
.absolute{
    position: absolute;
    margin-top: 186px;
    margin-left: 30px;
    font-size: 21px;
    font-weight: 300;

}
h2{
    margin: 0;
    padding: 0;
    margin-top: 150px;
    margin-bottom: 103px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}
.new-item{
    margin: 0;
    padding: 0;
    width: 1110px;
    height: 502px;
    margin-left: auto;
    margin-right: auto;
}
.card-current{
    margin: 0;
    padding: 0;
}
.card{
    width: 255px;
    padding: 25px;
    border: 1px dashed #D7B399;
}
.card-text{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-top: 25px;
}
.price-card{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #D7B399;
}
#card-button{
    margin: 0;
    padding: 0;
    margin-top: 103px;
    margin-left: 445px;
    
}
.sale-gifts{
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 180px;
    background-color:#212121 ;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcribe{
    width: 255px;
    height: 40px;
    font-weight: 300;
    font-size: 12px;
    margin-left: 60px;
    margin-right: 35px;
    border: none;
    color: #8D8D8D;
    padding-left: 20px;
    
}
#subcribe{
    margin: 0;
    width: 185px;
    height: 40px;
    
}
.footer-top{
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 363px;
    background-color: #212121;
    margin-top: 150px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    
}
.footer-logo{
    width: 201px;
    text-align: left;
    float: left;
    margin-left: 405px;
}
.logo-fot{
    margin-top: 73px;
    margin-bottom: 18px;
}
.block{
    display: block;
}
.links{
    float: right;
    width: 700px;
    height: 151px;
    margin-right: 399px;
    margin-top: 80px;
}
.links ul{
    justify-content: space-between;
}
.block li{
    margin-bottom: 10px;
}
.heads{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
}
.block img{
    margin-right: 5px;
}
.footer-bottom{
    width: 100%;
    height: 85px;
    
}
.copyright{
    float: left;
    margin-left: 405px;
    margin-top: 30px;
}
.confident{
    float: right;
    margin-right: 399px;
    margin-top: 30px;
}